/*********************************************** disc01.html *************************************/
.contents {
  padding: 50px 0;
}

.contents .tab-swiper {
  margin-bottom: 60px;
} 

.disc-bg {
  background: no-repeat center / cover;
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}

.disc-bg.bg01 {
  background-image: url(../images/disc01_img01.jpg);
}

.sub-ico01 {
  display: block;
  margin: 0 auto 20px;
}

.sub-container-text .light-text {
  margin-bottom: 30px;
}

.sub-container-text .title {
  margin-bottom: 20px;
}
/*********************************************** disc01.html *************************************/