body {
  font-family: 'Pretendard', sans-serif;
}

.inner {
  max-width: 1170px;
  margin: 0 auto;
}

.header-img {
  width: 100%;
}

.header-img img {
  width: 100%;
}

.top-img {
  width: 100%; 
  aspect-ratio: 1920 / 400;
  min-height: 300px;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-img h2 {
  color: #fff;
}

footer img {width: 100%;}

@media screen and (max-width: 1190px) {
  .inner {
    padding: 0 3%;
  }
}

/*********************************************** index.html *************************************/
main {
  padding: 100px 0;
}

section {
  margin-bottom: 100px;
}

section:last-child {
  margin-bottom: 0;
}

.title {
  font-family: 'Pretendard', sans-serif;
  font-size: 40px;
  color: #333;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
  word-break: keep-all;
}

.title-two {
  font-size: 30px;
  color: #02ace1;
  padding-bottom: 15px;
  border-bottom: 2px solid #02ace1;
  margin-bottom: 40px;
}

.light-text {
  font-size: 13px;
  letter-spacing: 10px;
  text-align: center;
}

.medium-text {
  font-size: 24px;
  color: #333;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 50px;
  word-break: keep-all;
}

.medium-text-two {
  font-size: 20px;
  color: #333;
  line-height: 1.6;
  word-break: keep-all;
}

.larzy-text {
  font-size: 34px;
  line-height: 1.6;
  font-weight: 300;
  color: #333;
  word-break: keep-all;
}

.bold-text {
  font-family: 'Pretendard', sans-serif;
}

/*** #section01 ***/
.sec01-img {
  background: url(../images/sec01_bg.jpg) no-repeat center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1170 / 600;
  padding: 30px;
  box-sizing: border-box;
}

.sec01-container-text p {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.sec01-container-text p:last-child {
  margin-bottom: 0;
}
/*** #section01 ***/

/*** #section02 ***/
.sec02-container-text:last-child p {
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 50px;
}

.grid-item {
  width: 100%;
}

.grid-img {
  width: 100%;
  aspect-ratio: 380 / 240;
}

.grid-img img {
  width: 100%;
  height: 100%;
}
/*** #section02 ***/

/*** #section03 ***/
.flex-item {
  display: flex;
  margin-bottom: 40px;
}

.flex-item:last-child {
  margin-bottom: 0;
}

.flex-item-img {
  width: 42.736%;
  aspect-ratio: 500 / 350;
  background: lightblue;
  margin-right: 40px;
}

.flex-item-img img {
  width: 100%;
  height: 100%;
}

.flex-item-text {
  width: calc(100% - 42.736%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-item-text p {
  word-break: keep-all;
}

.flex-item-text p:first-child {
  font-size: 30px;
  margin-bottom: 5px;
  word-break: keep-all;
  color: #333;
}
/*** #section03 ***/

/*** #section04 ***/
.tab-swiper {
  margin-bottom: 100px;
}

.tab-swiper .swiper-slide {
  width: fit-content;
}

.tab-swiper .tab-img {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.tab-swiper .tab-img img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: all 0.3s;
}

.tab-swiper .swiper-slide p {
  font-size: 20px;
  color: #2d2d2d;
  font-weight: 500;
  text-align: center;
}

.tab-swiper .swiper-slide:hover img {
  filter: grayscale(0);
  width: 130%;
  height: 130%;
}

.medical-staff img {
  width: 100%;
}
/*** #section04 ***/

@media screen and (max-width: 1080px) {
  .larzy-text {
    font-size: 28px;
  }

  .flex-item-text p:first-child {
    font-size: 20px;
  }

  .medium-text-two {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  main {
    padding: 12% 0;
  }

  section {
    margin-bottom: 12%;
  }

  .title {
    font-size: 30px;
    margin-bottom: 7%;
  }

  .title-two {
    margin-bottom: 6%;
  }

  .larzy-text {
    font-size: 24px;
  }

  .medium-text {
    font-size: 18px;
    margin-bottom: 7%;
  }

  .medium-text-two {
    font-size: 14px;
  }

  .sec01-img {
    padding: 15px;
  }

  .grid-container {
    margin-bottom: 7%;
  }

  .flex-item {
    margin-bottom: 6%;
  }

  .flex-item-text p:first-child {
    font-size: 18px;
  }

  .flex-item-img {
    margin-right: 6%;
  }

  .tab-swiper {
    margin-bottom: 12%;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 26px;
  }

  .title-two {
    font-size: 22px;
  }

  .light-text {
    font-size: 11px;
  }

  .larzy-text {
    font-size: 20px;
  }

  .medium-text {
    font-size: 16px;
  }

  .sec01-container-text p {
    margin-bottom: 15px;
  }

  .sec02-container-text p br {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .flex-item {
    display: block;
  }

  .flex-item-img {
    width: 100%;
    margin-bottom: 20px;
  }

  .flex-item-text {
    width: 100%;
  }

  .tab-swiper .tab-img {
    width: 110px;
    height: 110px;
    margin-bottom: 15px;
  }

  .tab-swiper .swiper-slide p {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 22px;
  }

  .title-two {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .light-text {
    font-size: 9px;
  }

  .larzy-text {
    font-size: 18px;
  }

  .medium-text {
    font-size: 14px;
  }

  .sec01-img {
    padding: 5px;
  }

  .sec01-container-text .larzy-text{
    font-size: 15px;
  } 

  .flex-item-text p:last-child br {
    display: none;
  }
}
/*********************************************** index.html *************************************/